body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.picture {
	position: relative;
	margin: 10px;
}

.picture img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	border-radius: 5px;
    display: block;
}

.cart-list img{
    width: 250px;
	height: 250px;
    object-fit: cover;
}

.price{
    display: inline;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.5s;
}

.picture:hover .overlay {
	opacity: 1;
}

.buy-btn {
	padding: 10px 20px;
	background-color: #009688;
	color: #fff;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
    margin-top: 12px;
    margin-left: 12px;
}

span{
    margin-left: 2px;
}

.cart {
	margin-top: -56px;
    margin-left: 32px;
    padding-bottom: 10px;
}

.cart h2 {
	margin-bottom: 10px;
}

.cart-list {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}

.cart-list li {
	margin-bottom: 5px;
}

.total-price {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}

.pay-btn {
	padding: 10px 20px;
	background-color: #009688;
	color: #fff;
	border: none;
	border-radius: 5px;
}